# PostHog — replace dummy key with your project key from PostHog dashboard
EXPO_PUBLIC_POSTHOG_API_KEY=phc_vy4FaiS5RzMBBqrnjG7Yzs75yVpiPUXxfg5zPEcy74QS
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
